/* Selector Class */
.enlace-menu{ 
    color:grey; 
    font-size: 24px;
    text-decoration: none;
}

.seleccionado{
    font-weight: 900;
}

.item-menu{
    list-style-type: none;
    display: inline;
}