*{
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, 
    #fcb045 100%); 
}
.container{
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    height: 300px;
    padding: 5px;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap; */
    justify-content: space-evenly;
    gap: 5px;
}

.container > div{
    border: 2px solid black;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: brown;
}

#div1{
    background-color: aquamarine;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#div2{
    background-color: orangered;
    align-self: flex-end;

}
#div3{
    background-color:  greenyellow;

}
