*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    border: 5px solid #000;
    margin: auto;
    font-size: 40px;
    text-align: center;
}

.container > div{
    padding: 20px;
    color: #fff;
    background-color: rgb(121, 52, 52);
    box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}