*{
    margin: 0px;
}
body{
    width: 100vw;
    height: 150vh;
    background-image: url("../img/imgFondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*overflow: hidden;*/
}

.positionStatic{
    position: static;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    background-color: beige;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: black;

}

.positionRelative{
    position: relative;
    background-color: aqua;
    opacity: 0.8;
    color: black;
    top: 20px;
}

.positionFixed{
    position: fixed;
    width: 150px;
    height: 200px;
    top: calc(100vh/2 - 100px);
    left: 10px;
    color: black;
    background-color: beige;
    opacity: 0.5;
}