*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 60%;
    min-height: 500px;
    margin: 20px auto;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}

.form-group{
    margin: 10px;
    text-align: left;
}

.form-control{
    width: 300px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    display: block;
}
#formulario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}